{% extends 'home/base.html' %}
{% load cache %}

{% block content %}
{% if request.GET.loaddata %}
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100% - загрузка завершена</div>
</div>
{% endif %}
    <table class="table">
          <thead>
            <tr>
              <th scope="col">IP</th>
              <th scope="col">Дата</th>
              <th scope="col">Метод</th>
              <th scope="col">Ссылка</th>
              <th scope="col">Код ответа</th>
              <th scope="col">Размер ответа</th>
            </tr>
          </thead>
          <tbody>

            {% for log in logs %}
                <tr>
                    <td>{{log.ip}}</td>
                    <td>{{log.date_time}}</td>
                    <td>{{log.http_method}}</td>
                    <td>{{log.url_request}}</td>
                    <td>{{log.response_code}}</td>
                    <td>{{log.response_size}}</td>
                </tr>
            {% endfor %}
          </tbody>
    </table>


    <ul class="pagination justify-content-center">
            {% if logs.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1{% if request.GET.q %}&q={{request.GET.q}}{% endif %}" >&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ logs.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}" >{{ logs.previous_page_number }}</a></li>
            {% endif %}
                <li class="page-item active"><a class="page-link" href="#" >{{ logs.number }} </a></li>
            {% if logs.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ logs.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}" >{{ logs.next_page_number }} </a></li>
                <li class="page-item"><a class="page-link" href="?page={{ logs.paginator.num_pages }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">&raquo;</a></li>
            {% endif %}

    </ul>


    <h2>Статистка:</h2>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">Передано (байт) - {{response_size_sum}}</li>
    <li class="list-group-item">Кол-во униклаьных IP - {{count_ip}}</li>
    <li class="list-group-item">Top 10 самых распространенных IP адресов:
        <ol>
            {% for ip in top_ip %}
                <li>{{ip|get_item:'ip'}} - {{ip|get_item:'frequency'}}</li>
            {% endfor %}
        </ol></li>

    {% for method in http_methods %}
           <li class="list-group-item">Количество запросов ({{method|get_item:'http_method'}}) - {{method|get_item:'frequency'}} </li>
    {% endfor %}
    </ul>
 {% endblock %}